.parent {
  display: flex;
}

.left {
  width: 30%;
  text-align: center;
}

.left img {
  margin-top: 10%;
  width: 100%;
  height: 75%;
  margin-left: 40%;
}

.right {
  margin-top: 5%;
  width: 70%;
  text-align: center;
}

.right form {
  display: inline-block;
}

.right input {
  width: 30vw;
  text-align: center;
}

.right input::-webkit-input-placeholder {
  font-family: "myFont", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.right input:-ms-input-placeholder {
  font-family: "myFont", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.right input:-moz-placeholder {
  font-family: "myFont", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.right input::-moz-placeholder {
  font-family: "myFont", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.right button {
  font-family: "myFont", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
